

header {
    background: #ffffff;
    padding:  20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,00.1);
  }



  header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}



  

  header .sticky ul li a {
    color: #fff;
  }
  header.sticky .logo
  {
    color: #111;
  }
  header .logo
  {
    color:black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  header ul 
  {
    position: relative;
    display: flex;
    
  }
  header ul li 
  {
    position: relative;
    list-style: none;
  }
  header ul li a 
  {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
  }