@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Roboto&family=Work+Sans:ital,wght@1,300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


section
{
  padding: 100px;
}

.banner
{
  position: relative;
  min-height: 1vh;
  background-image: url("../Img/ppp.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.banner h2
{
  font-size: 1.8em;
  color: black;
  font-weight: 500;
  line-height: 1.4em;
}

.banner h2 span
{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3
{
  font-size: 2em;
  color: black;
  font-weight: 200;
  line-height: 1.3em;
}

.menu a{
  color: #ffffff;
 
  display: block;
  
  text-align: center;
  
  transition: 0.5s;

  float:left;
	text-decoration:none;


  /*background: rgba(34, 34, 34, 0.519);

  color:#fff;
  
  padding: 10px ;
  font-size: 13px;

  border-radius: 50px;*/
}

.topo .menu a:hover{
	
	color: #3a3a3c;
  box-shadow: inset 6.5em 0 0 0 var(--hover);

	}


.textx h2{
color: #ffffff;
font-size:medium;
}
.textx h3{
  color: #fff;
  font-size: small;
}

.textx .btn:hover{
  background-color: #147985;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  
  border-radius: 50px;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.heading .btn:hover {

  background-color: #147985;
  box-shadow: inset 6.5em 0 0 0 var(--hover);

}


.btn
{
  position: relative;
  background: #222;
  display: inline-block;
  color:#fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 50px;
}

 header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}


  header.sticky {
    background: #147a85f4;
    padding:  10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.201);
  }

  header .sticky ul li a {
    color: #fff;
  }
  header.sticky .logo
  {
    color: #111;
  }
  header .logo
  {
    color:black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  header ul 
  {
    position: relative;
    display: flex;
    
  }
  header ul li 
  {
    position: relative;
    list-style: none;
  }
  header ul li a 
  {
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
  }
  .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
  }
  .heading h2{
    font-weight: 600;
    font-size: 30px;
  }

  .heading.white{
    color: #fff;
  }

  .headingx {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .content{
    display: flex;
    justify-content: space-between;
  }
  .contentx{
    padding: 50px;
  }
  .contentx h3{
    font-size: 24px;
    margin-left: 10px;
  }
  .w50{
    min-width: 45%;
  }
  .w50 .img{
    min-width: 100%;
    align-items: flex-end;
    margin-left: 0%;
    border-radius: 50px;
  }

  .topo img{
    max-width: 10%;
    align-items: flex-start;
     margin-left: -30%;

  }

  img{
    max-width: 10%;
    align-items: flex-start;
     margin-left: -35%;
  } 
  .services{
    background: #3a3a3c;
  }

  .services .content
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .services .content .servicesX
  {
    padding: 40px 20px;
    background: rgb(39, 38, 38);
    color: #fff;
    max-width: 350px;
    max-height: 600px;
    margin: 35px;
    text-align: center;
    transition: 0.5s;
   
      border-radius: 15px 50px;
     /* border-radius: 50px; 
      background: #147985; 
      border: 2px solid #147985; */
      padding: 20px;
      width: 250px;
      height: 250px;  
  }
  .services .content .servicesX:hover
  {
    background: #147985;
  }
  .services .content .servicesX img
  {
    align-items: flex-start;
    max-width: 100px;
    filter: opacity(1);
    margin: auto;
    margin-bottom: 10%;
    border-radius: 10px;
  }
  .services .content .servicesX h2
  {
    
    color: rgb(255, 255, 255);
    font-weight: 800;
    line-height: 20px;
    font-size: 15px;
  
    
 
  }

  .services .content .servicesX p
  {
    /*font-size:small ;*/

    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 17px;
    padding: 10px;

  }

  .trabalho .content
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .trabalho .content .trabalhoX
  {
    width: 50%;
    padding: 20px;
  }
  .trabalho .content .trabalhoX img
  {
    max-width: 50%;
    align-items: flex-start;
    margin: auto;
    
  }
  .info
  {
    background-color: #f7f7f7;
  }
  .info .content
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .info .content .infox
  {
   max-width: calc(50% - 40px);
   padding: 60px 40px;
   margin: 20px;
   background:  #a9a9a9;
  }
  .info .content .infox p
  {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
  }
  .info .content .infox h3
  {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
  }
  .info .content .infox h3 span
  {
   font-size: 14px;
   font-weight: 400;
  }
  .contact
  {
    background-color: #111;
    padding: 5px 50px;
  }
  .formx{
    min-width: 60%;
  }
  .formx form
  {
    display: flex;
    flex-direction: column;
  }
  .formx form h3,
  .contactInfo h3
  {
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .formx form input,
  .formx form textarea
  {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    /*background: #222;*/
    color : #fff;
    resize: none;
    border-radius: 60px;

    /* border-radius: 15px 50px;*/
    border-radius: 50px; 
     border: 2px solid #147985; 
     padding: 20px;
  

  }
  .formx form textarea
  {
    min-height: 250px;
  }
  .formx form input::placeholder,
  .formx form textarea::placeholder
  {
    color: #999;
  }
  .formx form input [type="submit"]
  {
    max-width:100px;
    background: #a9a9a9;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    
  }

  .contactx .img{
    min-width: 10%;
    align-items: flex-end;
    margin-left: 88.5%;
  }

  .contactInfo
  {
    min-width: 40%;
  }
  .contactInfox
  {
    position: relative;
  }
  .contactInfox .box
  {
    position:relative;
    padding:9px 0 ;
    display: flex;
  }
  .contactInfox .box .icon
  {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
  }
  
  .contactInfox .box .text
  {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  .contactInfox .box .text h3
  {
    color: #FFFAF0;
    font-weight: 500;
    margin-bottom: 0;
  }



  .follow h4{
    color: white;
    margin-left: 1290px;
  }
  
.followx{
    margin-left: 1250px;
    color: #fff;
    transition: .5s;
    font-size: 13pt;
}
  
.followxi a{
    color: #fff;
    margin: 0 0px;
    display: inline-block;
    transition: .5s;
    padding: 10px;
    font-size: 13pt;

}

.followxf a{
  color: #fff;
  margin: 0 0px;
  display: inline-block;
  transition: .5s;
  padding: 10px;
  font-size: 13pt;

}

.followxt a {
  color: #fff;
  margin: 0 0px;
  display: inline-block;
  transition: .5s;
  padding: 10px;
  font-size: 13pt;

}

.followxl a {

  color: #fff;
  margin: 0 0px;
  display: inline-block;
  transition: .5s;
  padding: 10px;
  font-size: 13pt;
}

.followxi a:hover{
	color:#147985;
}
.followxf a:hover{
  color: #147985;
}

.followxt a:hover{
  color: #147985;
}

.followxl a:hover{
  color: #147985;
}

  .copyright
  {
    background: #dCDCDC;
    color: fff;
    text-align: center;
    padding:5px;
  }

  .copyright a{
    margin-right: -1100px;
    position: relative;
    text-align: right;
    color: rgb(0, 0, 0);
    display: inline-block;
    right: 17px;
    top: -20px;
    transform: skew(-20deg);
    padding: 5px;

  }
  .copyright .x {

    margin-right: 30px;
    position: relative;
    text-align: right;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 5px;
  }

  
  